
*{
    margin : 0;
    padding :0
}
body {
    font-family :Arial,sans-serif;
    font-size :87,5%;
    width: 600px;
    margin : 1em auto;
}

img {
    float: left;
    width:70px;
    margin-right: 3em;
}
h1 {
    color : #A66E43;
    font-size: 250%;
}
h2#first{
    color : green;
    font-size: 150%;
}

h1,h2 {
    margin-bottom:0.25em;
}
ul {
    margin : 0 0 1.5em 1.25em;
}
li{ 
    padding-bottom : .35em;
    padding-left:.25em;
}
p {
    padding: .25em 0 ;
}
p.first {
    text-indent: 1em;
}

#copyright {
    text-align: right;
}

li a {
    color : green;
    font-weight : bold;
}
a:hover, a:focus {
    color : blue;
}
p {
    font-size : 0.8em;
}